body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in element's width and height */
}

*, *::before, *::after {
  box-sizing: inherit;
}

.div_mrfooter{
  background-color: #333;
  width: 100%;
  height: 10%;
  align-items:center;
  justify-content:center;
  display:flex;
}

.div_mrfooter_title{
  background-color: #333;
  width: 100%;
  height: 20%;
  align-items:center;
  justify-content:center;
  display:flex;
}

.text-block-13{
  color: #fff000;
  font-size: 48px;
}

.text-block-13.b{
  font-size:36px;
}

.div-block-82{
  flex-flow:column;
  justify-content:flex-start;
  align-items:center;
  height:auto;
}

.div-block-83{
  background-color:#333;
  width: 100%;
  height:10%;
  position: fixed;
  bottom: 0;
  color:#fff000;
  text-align:center;
  line-height: 10%;
  font-size: 24px;
}

.div_mr_mainblock{
  background-color:#333;
  width: 100%;
}  

.div_contentblockrow{
  display:flex;
}

.div_contentblock, .div-block-87{
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  overflow: hidden;
}

.image_mr_main{
  aspect-ratio:auto;
  width:100%;
  height:100%;
  object-fit:cover;
}

.image_mr_title {
    aspect-ratio: auto;
    max-width: 100%; /* Fix: Added missing semicolon */
    max-height: 100%; /* Ensures the image doesn't overflow the container */
    height: auto; /* Adjust height to maintain aspect ratio */
    object-fit: contain; /* Fits the image within the container without clipping */
}

.div_shadowbox {
    display: none;
    flex-flow:column;
    flex:1;
    align-self:stretch;
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center children horizontally */
    justify-content: center;
    padding: 16px;
    background-color: #000000bf;
    position:fixed;
    z-index:1;
    inset:0%;
    touch-action:manipulation;
}

.div_shadowbox_image {
    width: 100%;
    text-align: center;
    touch-action:manipulation;
}

.image_shadowbox {
    max-width: 100%; /* Make sure the image does not exceed the width of the container */
    height: auto;   /* Maintain the aspect ratio */
    touch-action:manipulation;
}

.div_shadowbox_text {
    margin-top: 16px; /* Space between image and text */
    text-align: justify;
    color: #ffffff;
}

  


