body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in element's width and height */
}

*, *::before, *::after {
  box-sizing: inherit;
}

.div_mrfooter{
  background-color: #333;
  width: 100%;
  height: 10%;
  align-items:center;
  justify-content:center;
  display:flex;
}

.text-block-13{
  color: #fff000;
  font-size: 48px;
}

.text-block-13.b{
  font-size:36px;
}

.div-block-82{
  flex-flow:column;
  justify-content:flex-start;
  align-items:center;
  height:auto;
}

.div-block-83{
  background-color:#333;
  width: 100%;
  height:10%;
  position: fixed;
  bottom: 0;
}

.div_mr_mainblock{
  background-color:#333;
  width: 100%;
}  

.div_contentblockrow{
  display:flex;
}

.div_contentblock, .div-block-87{
  width: 25vw;
  height: 25vw;
  overflow: hidden;
}

.image_mr_main{
  aspect-ratio:auto;
  width:100%;
  height:100%;
  object-fit:cover;
}

.div_shadowbox {
    display: none; /* Hide the shadowbox by default */
    z-index: 1;
    background-color: #000000bf; /* Semi-transparent black background */
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0%;
    padding-top: 5vh; /* Ensure some top padding */
    box-sizing: border-box; /* Include padding in the height calculation */
}

.div_shadowbox_image {
    width: 75vw; /* Image width */
    height: auto; /* Auto height to maintain aspect ratio */
    max-height: 50vh; /* Limit the maximum height of the image to half the viewport height */
    margin-bottom: 2vh; /* Space between the image and the text */
}

.div_shadowbox_text {
    width: 75vw; /* Width of the text area */
    color: white; /* White text color */
    text-align: left; /* Left-align the text */
    padding: 5vh 10vw 5vh 10vw; /* Padding: 5vh top and bottom, 10vw left and right */
    overflow-y: auto; /* Vertical scroll if content overflows */
    max-height: calc(100vh - 5vh - 50vh - 2vh); /* Calculate remaining space: total height minus padding and image */
    box-sizing: border-box; /* Include padding in width and height calculations */
    margin-bottom: 5vh; /* Additional space at the bottom */
}
  


